
<div *ngIf="comment">
    <h2><span jhiTranslate="dataminerApp.comment.detail.title">Comment</span> {{comment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dataminerApp.comment.fbid">Fbid</span></dt>
        <dd>
            <span>{{comment.fbid}}</span>
        </dd>
        <dt><span jhiTranslate="dataminerApp.comment.message">Message</span></dt>
        <dd>
            <span>{{comment.message}}</span>
        </dd>
        <dt><span jhiTranslate="dataminerApp.comment.createdTime">Created Time</span></dt>
        <dd>
            <span>{{comment.createdTime}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'comment-data-miner/'+ comment.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
