
<div *ngIf="feed">
    <h2><span jhiTranslate="dataminerApp.feed.detail.title">Feed</span> {{feed.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dataminerApp.feed.fbid">Fbid</span></dt>
        <dd>
            <span>{{feed.fbid}}</span>
        </dd>
        <dt><span jhiTranslate="dataminerApp.feed.title">Title</span></dt>
        <dd>
            <span>{{feed.title}}</span>
        </dd>
        <dt><span jhiTranslate="dataminerApp.feed.url">Url</span></dt>
        <dd>
            <span>{{feed.url}}</span>
        </dd>
        <dt><span jhiTranslate="dataminerApp.feed.imageUrl">Image Url</span></dt>
        <dd>
            <span>{{feed.imageUrl}}</span>
        </dd>
        <dt><span jhiTranslate="dataminerApp.feed.fbpostType">Fbpost Type</span></dt>
        <dd>
            <span>{{feed.fbpostType}}</span>
        </dd>
        <dt><span jhiTranslate="dataminerApp.feed.likes">Likes</span></dt>
        <dd>
            <span>{{feed.likes}}</span>
        </dd>
        <dt><span jhiTranslate="dataminerApp.feed.comments">Comments</span></dt>
        <dd>
            <span>{{feed.comments}}</span>
        </dd>
        <dt><span jhiTranslate="dataminerApp.feed.shares">Shares</span></dt>
        <dd>
            <span>{{feed.shares}}</span>
        </dd>
        <dt><span jhiTranslate="dataminerApp.feed.fbpostDate">Fbpost Date</span></dt>
        <dd>
            <span>{{feed.fbpostDate}}</span>
        </dd>
        <dt><span jhiTranslate="dataminerApp.feed.description">Description</span></dt>
        <dd>
            <span>{{feed.description}}</span>
        </dd>
        <dt><span jhiTranslate="dataminerApp.feed.link">Link</span></dt>
        <dd>
            <span>{{feed.link}}</span>
        </dd>
        <dt><span jhiTranslate="dataminerApp.feed.fbpage">Fbpage</span></dt>
        <dd>
            <span>{{feed.fbpage}}</span>
        </dd>
        <dt><span jhiTranslate="dataminerApp.feed.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{feed.lastUpdate}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'feed-data-miner/'+ feed.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
