<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFeedLabel" jhiTranslate="dataminerApp.feed.home.createOrEditLabel">Create or edit a Feed</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!feed.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="feed.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataminerApp.feed.fbid" for="field_fbid">Fbid</label>
            <input type="text" class="form-control" name="fbid" id="field_fbid"
                [(ngModel)]="feed.fbid"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataminerApp.feed.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="feed.title"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataminerApp.feed.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                [(ngModel)]="feed.url"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataminerApp.feed.imageUrl" for="field_imageUrl">Image Url</label>
            <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                [(ngModel)]="feed.imageUrl"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataminerApp.feed.fbpostType" for="field_fbpostType">Fbpost Type</label>
            <input type="text" class="form-control" name="fbpostType" id="field_fbpostType"
                [(ngModel)]="feed.fbpostType"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataminerApp.feed.likes" for="field_likes">Likes</label>
            <input type="number" class="form-control" name="likes" id="field_likes"
                [(ngModel)]="feed.likes"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataminerApp.feed.comments" for="field_comments">Comments</label>
            <input type="number" class="form-control" name="comments" id="field_comments"
                [(ngModel)]="feed.comments"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataminerApp.feed.shares" for="field_shares">Shares</label>
            <input type="text" class="form-control" name="shares" id="field_shares"
                [(ngModel)]="feed.shares"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataminerApp.feed.fbpostDate" for="field_fbpostDate">Fbpost Date</label>
            <input type="text" class="form-control" name="fbpostDate" id="field_fbpostDate"
                [(ngModel)]="feed.fbpostDate"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataminerApp.feed.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="feed.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataminerApp.feed.link" for="field_link">Link</label>
            <input type="text" class="form-control" name="link" id="field_link"
                [(ngModel)]="feed.link"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataminerApp.feed.fbpage" for="field_fbpage">Fbpage</label>
            <input type="text" class="form-control" name="fbpage" id="field_fbpage"
                [(ngModel)]="feed.fbpage"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataminerApp.feed.lastUpdate" for="field_lastUpdate">Last Update</label>
            <input type="number" class="form-control" name="lastUpdate" id="field_lastUpdate"
                [(ngModel)]="feed.lastUpdate"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
