<div>
    <h2>
        <span jhiTranslate="dataminerApp.feed.home.title">Feeds</span>
        <button class="btn btn-primary float-right jh-create-entity create-feed-data-miner" [routerLink]="['/', { outlets: { popup: ['feed-data-miner-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="dataminerApp.feed.home.createLabel">
            Create new Feed
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="feeds">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fbid"><span jhiTranslate="dataminerApp.feed.fbid">Fbid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="dataminerApp.feed.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="url"><span jhiTranslate="dataminerApp.feed.url">Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="imageUrl"><span jhiTranslate="dataminerApp.feed.imageUrl">Image Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fbpostType"><span jhiTranslate="dataminerApp.feed.fbpostType">Fbpost Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="likes"><span jhiTranslate="dataminerApp.feed.likes">Likes</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comments"><span jhiTranslate="dataminerApp.feed.comments">Comments</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shares"><span jhiTranslate="dataminerApp.feed.shares">Shares</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fbpostDate"><span jhiTranslate="dataminerApp.feed.fbpostDate">Fbpost Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="dataminerApp.feed.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="link"><span jhiTranslate="dataminerApp.feed.link">Link</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fbpage"><span jhiTranslate="dataminerApp.feed.fbpage">Fbpage</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastUpdate"><span jhiTranslate="dataminerApp.feed.lastUpdate">Last Update</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let feed of feeds ;trackBy: trackId">
                <td><a [routerLink]="['../feed-data-miner', feed.id ]">{{feed.id}}</a></td>
                <td>{{feed.fbid}}</td>
                <td>{{feed.title}}</td>
                <td>{{feed.url}}</td>
                <td>{{feed.imageUrl}}</td>
                <td>{{feed.fbpostType}}</td>
                <td>{{feed.likes}}</td>
                <td>{{feed.comments}}</td>
                <td>{{feed.shares}}</td>
                <td>{{feed.fbpostDate}}</td>
                <td>{{feed.description}}</td>
                <td>{{feed.link}}</td>
                <td>{{feed.fbpage}}</td>
                <td>{{feed.lastUpdate}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../feed-data-miner', feed.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'feed-data-miner/'+ feed.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'feed-data-miner/'+ feed.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
