
<div *ngIf="reaction">
    <h2><span jhiTranslate="dataminerApp.reaction.detail.title">Reaction</span> {{reaction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dataminerApp.reaction.name">Name</span></dt>
        <dd>
            <span>{{reaction.name}}</span>
        </dd>
        <dt><span jhiTranslate="dataminerApp.reaction.type">Type</span></dt>
        <dd>
            <span>{{reaction.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'reaction-data-miner/'+ reaction.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
